.iosStyles {
  min-height: 35px;
}

.androidStyles {
  min-height: 45.8px;
}

.icon {
  height: 16px;
  width: 16px;
  margin-left: -4px;
  margin-right: -4px;
}

.dropdownItemText {
  font-size: 14px;
}