.container {
  flex: 1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  background-color: white;
}

.androidContainer {
  padding-bottom: 16px;
}

.iosContainer {
 padding-bottom: 32px;
}

.imdbRatingsContainer {
  margin-top: 4px;
  flex-direction: row;
  align-items: center;
}

.imdbRatingText {
  margin-left: 4px;
  color: gray;
}

.imdbRatingsLabelText {
  color: gray;
}

.movieYearandRatingsContainer {
  flex-direction: row;
  justify-content: space-between;
}

.movieYearContainer {
  margin-top: 8px;
}

.movieYearText {
  font-size: 16px;
  text-align: left;
  color: gray;
}

.movieDirectorText {
  @extend .movieYearText;
  margin-top: 4px;
}

.poster {
  height: 60%;
}

.posterError  {
  @extend .poster;
  justify-content: center;
  align-items: center;
}

.plotLabelText {
  font-size: 18px;
  margin-top: 8px;
}

.plotTextContainer {
  margin-top: 4px;
}
